# OpenEngine Distribution file for DragonPanic.

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# DragonPanic project
darcs /projects/DragonPanic http://openengine.dk/code/projects/DragonPanic
darcs-dev /projects/DragonPanic fh.daimi.au.dk:/users/cgd/code/projects/DragonPanic

# standard set of extensions
darcs /extensions/SDL             http://openengine.dk/code/extensions/SDL
darcs /extensions/HUD             http://openengine.dk/code/extensions/HUD
darcs /extensions/OpenGLRenderer  http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/GenericHandlers http://openengine.dk/code/extensions/GenericHandlers
darcs /extensions/OBJResource     http://openengine.dk/code/extensions/OBJResource
darcs /extensions/SDLImage     http://openengine.dk/code/extensions/SDLImage
darcs /extensions/RAWResource     http://openengine.dk/code/extensions/RAWResource
darcs /extensions/ScaledTextureResource http://openengine.dk/code/extensions/ScaledTextureResource
darcs-dev /extensions/SDL             fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/HUD             fh.daimi.au.dk:/users/cgd/code/extensions/HUD
darcs-dev /extensions/OpenGLRenderer  fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/GenericHandlers fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers
darcs-dev /extensions/OBJResource     fh.daimi.au.dk:/users/cgd/code/extensions/OBJResource
darcs-dev /extensions/SDLImage     fh.daimi.au.dk:/users/cgd/code/extensions/SDLImage
darcs-dev /extensions/RAWResource     fh.daimi.au.dk:/users/cgd/code/extensions/RAWResource
darcs-dev /extensions/ScaledTextureResource fh.daimi.au.dk:/users/cgd/code/extensions/ScaledTextureResource

# cairo extension
darcs /extensions/CairoResource http://openengine.dk/code/extensions/CairoResource
darcs-dev /extensions/CairoResource fh.daimi.au.dk:/users/cgd/code/extensions/CairoResource

#sound
darcs /extensions/OpenALSoundSystem http://openengine.dk/code/extensions/OpenALSoundSystem
darcs /extensions/VorbisResource    http://openengine.dk/code/extensions/VorbisResource
darcs /extensions/MusicPlayer       http://openengine.dk/code/extensions/MusicPlayer
darcs /extensions/Shapes            http://openengine.dk/code/branches/Shapes
darcs-dev /extensions/OpenALSoundSystem fh.daimi.au.dk:/users/cgd/code/extensions/OpenALSoundSystem
darcs-dev /extensions/VorbisResource    fh.daimi.au.dk:/users/cgd/code/extensions/VorbisResource
darcs-dev /extensions/MusicPlayer       fh.daimi.au.dk:/users/cgd/code/extensions/MusicPlayer
darcs-dev /extensions/Shapes            fh.daimi.au.dk:/users/cgd/code/branches/Shapes

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip
win32 /libraries http://openengine.dk/data/libraries/cairo-win32.zip
win32 /libraries http://openengine.dk/data/libraries/openal-win32.zip
win32 /libraries http://openengine.dk/data/libraries/vorbis-win32.zip

# os x libraries

# linux libraries

# data
any /projects/DragonPanic/data      http://www.openengine.dk/data/projects/DragonPanic/Island.zip
any /projects/DragonPanic/data      http://www.openengine.dk/data/projects/DragonPanic/Dragon.zip
any /projects/DragonPanic/data      http://www.openengine.dk/data/images/Smoke.zip
any /projects/DragonPanic/data      http://www.openengine.dk/data/projects/DragonPanic/dragonsounds.tar.gz
any /projects/DragonPanic/data/logo http://www.openengine.dk/data/images/logos/small.png